{% extends 'django_portion/base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8 flex flex-col md:flex-row mt-5 mb-10">
  <div class="text-center post-content flex-grow pr-8 pt-5">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-white mb-6">Please take a look at my resume:</h1>
    <h2 class="p-6"><a href="{{ resume.upload.url }}" target="_blank"
        class="text-5xl text-celestialblue-500 hover:text-celestialblue-700">My Resume</a></h2>
  </div>
  <!-- Tags container centered on smaller screens and positioned as a thinner box on the right on larger screens -->
  <div class="w-auto lg:w-1/6 mt-8 md:mt-0 mx-auto">
    <h2 class="text-center text-2xl font-semibold text-gray-800 dark:text-white mb-4">Tags</h2>
    <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow">
      <ul class="list-none text-center space-y-2">
        {% for tag in tags_with_counts %}
        <li>
          <a class="text-lg text-celestialblue-500 hover:text-celestialblue-700"
            href="{% url 'blog_by_tag' tag.name %}">
            {{ tag.name }} ({{ tag.count }})
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}