#menu {
	transition: opacity 500ms ease-out, height 500ms ease-out;
}

#menu-toggle-container {
	opacity: 0; /* Start hidden */
	transition: opacity 500ms ease-out;
}

/* Ensure menu is initially hidden on smaller screens */
@media (max-width: 1023px) {
	#menu {
		opacity: 0;
		height: 0;
		overflow: hidden;
		text-align: center;
	}
}
.swiper-wrapper {
	width: 100%;
	height: max-content !important;
	padding-bottom: 64px !important;
	-webkit-transition-timing-function: linear !important;
	transition-timing-function: linear !important;
	position: relative;
}
.swiper-pagination-bullet {
	background: #4f46e5;
}
.swiper-pagination-bullet-active {
	background: #4f46e5 !important;
}
