/* General styling for the menu with smooth transitions */
#menu {
	transition: opacity 500ms ease-out, height 500ms ease-out;
}

#menu-toggle-container {
	opacity: 1; /* Make visible at all times unless media query applies */
	transition: opacity 500ms ease-out;
}

/* Responsive behavior to hide/show menu on smaller screens */
@media (max-width: 1023px) {
	#menu {
		opacity: 0;
		height: 0;
		overflow: hidden;
		text-align: center;
	}
	#menu-toggle-container {
		opacity: 1; /* Ensure toggle is always visible on small screens */
		position: relative; /* Ensures the toggle button doesn't move out of visible scope */
	}
}

/* Carousel container specific styling */
#responsive-carousel {
	position: relative; /* Establish positioning context for absolute positioning inside */
	max-width: 100vw; /* Prevents the carousel from extending beyond the viewport */
	padding: 0 50px; /* Padding to prevent overlap with navigation buttons */
}

/* Button styles with consistent positioning and visibility */
.lr-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #333; /* Dark for contrast */
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	opacity: 0.7; /* Slightly transparent for aesthetic reasons */
	z-index: 1000; /* High z-index to keep on top */
	transition: opacity 0.3s ease;
}

.lr-button:hover {
	opacity: 1; /* Full opacity on hover */
}

/* Specific button positions */
.left-scroll-btn {
	left: 10px;
}

.right-scroll-btn {
	right: 10px;
}

/* Styling adjustments for carousel and project cards */
.carousel-container {
	position: relative;
	overflow-x: auto; /* Enables horizontal scrolling */
	padding: 0 40px; /* Avoids touching the viewport edges */
}

.project-card {
	min-width: 300px; /* Minimum width for uniform appearance */
}

/* Link styling within project cards */
.tag-link,
.repo-link {
	text-decoration: none; /* Removes underline */
	color: inherit; /* Inherits text color from parent */
	background-color: #ececec; /* Light background for visibility */
	padding: 2px 5px; /* Padding for better touch targets */
	border-radius: 3px; /* Slightly rounded corners for a softer look */
}

/* Style for no projects available message */
.no-projects {
	padding: 20px;
	text-align: center; /* Centers the message */
	color: #666; /* Subtle text color */
}
